/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}
header{
  background-color: #00796b;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}/* CABEÇALHO */
.cabecalho {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff9800;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* FORMULÁRIO */
main {
  padding: 40px 20px;
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  margin-top: 40px;
  margin-bottom: 40px;
}

main h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #222;
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form input,
form select {
  padding: 14px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

form input:focus,
form select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

#totalAPagar {
  font-size: 16px;
  font-weight: 500;
  background-color: #e9f5ff;
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid #007bff;
  color: #333;
}

form button {
  background: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

form button:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

/* FOOTER */
footer {
  background-color: #222;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer-container p {
  margin: 8px 0;
}

.redes-sociais a {
  color: #ff9800;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s;
}

.redes-sociais a:hover {
  color: #fff;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #005B50;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    transition: all  0.7s ease;
  }

  .menu.ativo {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  main {
    margin: 20px;
  }

  footer {
    padding: 20px 10px;
  }
}
